$image-size: 200px;

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    max-width: 50vw;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    background-color: rgb(202, 154, 65);

    &__name {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__picture {
        border-radius: 50px;
        height: $image-size;
        width: $image-size;
        border: 1px solid white;
    }

    &__button {
        margin-top: 1rem;
        width: 100%;
        border-radius: 10px;
        border: none;
        background-color: rgb(77, 165, 156);
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            margin: 5px;
        }

        p {
            font-size: 1.3rem;
            color: white;
        }
    }
    
}