.App {
    background-color: #282c34;
    color: white;
    min-height: 100vh;

    &__header {
        position:sticky;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
    }

}

