.cartPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    h2 {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
    }

    &__header {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        flex-wrap: wrap;
    }
        
    &__title {
        img {
            height: 3rem;
            width: 3rem;
         }
    }

    &__payButton {
        margin-top: 1rem;
        padding: 1rem;
        min-width: 5vw;
        border-radius: 10px;
        border: none;
        background-color: rgb(114, 179, 76);
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p {
            margin-left: 0.5rem;
            font-size: 1.5rem;
            color: white;
        }
    }

    &__deleteButton {
        margin-top: 1rem;
        padding: 1rem;
        min-width: 5vw;
        border-radius: 10px;
        border: none;
        background-color: rgb(201, 80, 43);
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p {
            margin-left: 0.5rem;
            font-size: 1.5rem;
            color: white;
        }
    }
}


.cartList {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.cartItem {

    padding: 1rem;
    margin: 1rem;
    background-color: rgb(77, 165, 156);
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__name {
        font-size: 1.5rem;
        min-width: 13vw;
        margin-left: 1rem;
        text-align: left;
    }

    &__price {
        font-size: 1.5rem;
        min-width: 3vw;
        text-align: left;
    }

    &__picture {
        width: 5rem;
        height: 5rem;
        border-radius: 10px;
        border: 1px solid white;
    }

    &__button {
        width: 3rem;
        height: 3rem;
        border: none;
        //border: 1px solid white;
        //border-radius: 10px;
        color: white;
        font-size: 2rem;
        background-color:  transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    p {
            font-size: 1.5rem;
            color: white;
            padding: 1rem;
        }
}