.tabsbar {
    position:sticky;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.productsList {
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
padding: 1rem;
}