.navbar {
    min-height: 5vh;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(77, 165, 156);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        text-decoration: underline;
        font-size: 1.8rem;
        font-weight: 600;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        li {
            margin-left: 1rem;
            margin-right: 1rem;
            list-style: none;
            color: white;

            .Button {

                &__signIn {
                    padding: 0.5rem;
                    min-width: 5vw;
                    border-radius: 10px;
                    border: none;
                    background-color: rgb(114, 179, 76);
                    border: 1px solid white;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;    

                    p {
                        color: white;
                    }
                }

                &__signOut {
                    padding: 0.5rem;
                    min-width: 5vw;
                    border-radius: 10px;
                    border: none;
                    background-color: rgb(201, 80, 43);
                    border: 1px solid white;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;    

                    p {
                        color: white;
                    }
                }
            }

        }
    }
}