.LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-align: center;
        font-size: 4rem;
        text-decoration: underline;
    }

    &__submit {
        margin-top: 1rem;
        padding: 0.5rem;
        min-width: 5vw;
        border-radius: 10px;
        border: none;
        background-color: rgb(114, 179, 76);
        border: 1px solid white;
        display: flex;
        flex-direction: row;

        p {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            font-size: 1.5rem;
            color: white;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            
            p {
                min-width: 9vw;
                text-align: left;
                padding-left: 1rem;
                margin-bottom: 0.5rem;
            }

            input {
                border-radius: 50px;
                border: none;
                padding: 0.5rem;
                min-width: 25vw;
            }
        }
    }
}