.tabsbar {
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    button {
        background-color: rgb(202, 154, 65);
        text-transform: uppercase;
        color: white;
        border: none;
        padding: 0.5rem;
        width: 100%;
        min-height: 5.5vh;
        font-size: 1.2rem;
    }
    .activ {
        background-color: rgb(201, 80, 43);
        color: white;
        text-transform: uppercase;
        border: none;
        padding: 0.5rem;
        width: 100%;
        min-height: 5.5vh;
        font-size: 1.2rem;
    }
}