.NotFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 2.5rem;
    }

    .LifeBuoy {
        font-size: 2rem;
        color: white;
    }
}